<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Card</title>
</head>
<body>
    <h1> Add Card</h1>
    <form action="{{ url_for('add_card')}}" method="POST">
        <label for="question">Question</label>
        <input type="text" name="question" id="ques" placeholder="Question">
        <br>
        <br>
        <label for="answer"> Answer</label>
        <input type="text" name="answer" id="ans" placeholder="Answer">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>